.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}
.main-container {
  position: relative;
  z-index: 0;
}
.collapsed {
  display: none;
}
.un-collapsed {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  animation: un-collapsed-start .2s;
  animation-fill-mode: forwards;
}

@keyframes un-collapsed-start {
  from { background: rgba(0, 0, 0, 0) }
  to { background: rgba(0, 0, 0, 0.6) }
}
.main-right-container {
  position: relative;
}
.ant-layout-sider-zero-width-trigger {
  z-index: 3;
}